* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: var(--purple);
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--light);
  background: var(--dark);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.no-script {
  height: 87vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-script noscript {
  font-size: 1.3rem;
  background: #232323;
  padding: 40px 40px;
  border-radius: 10px;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 2.7rem;
  font-weight: 900;
  margin: -4px 0px;
  line-height: 140%;
}

b {
  font-weight: 700;
}

i {
  font-display: swap;
}

:root {
  --white: #f8f8f8;
  --light: #f8f8f8;
  --head-light: #f8f8f8;
  --grey: #232323;
  --gradient-grey: #232323;
  --skill-grey: #272727;
  --theme: #657cf1;
  --dark: #191919;
  --purple: #6d83f2;
  --light-purple: #6d83f2;
  --shadow: none;
  --icon-bg: #5555556e;
  --gradient: linear-gradient(134deg, #6a98f0 0%, #4961dc 99%);
  --gradient-light: linear-gradient(99deg, #6a98f0 0%, #4961dc 130%);
  --input: #f0f0f0;
}

.light {
  --light: #6d83f2;
  --head-light: #313131;
  --grey: #f8f8f8;
  --gradient-grey: var(--gradient);
  --skill-grey: #c7d0ff;
  --dark: #f8f8f8;
  --light-purple: #f8f8f8;
  --shadow: -1px 3px 12px 0px #8b8b8b21;
  --icon-bg: rgba(209, 209, 209, 0.233);
  --input: #eeeeee;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--grey);
  min-height: 7vh;
  position: fixed;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  top: 0;
  z-index: 1000;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.logo {
  width: 37px;
  height: 37px;
}

.logo img {
  width: 100%;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--light);
  font-size: 15px;
  font-weight: 400;
}

.hamburger {
  display: none;
}

#modeToggle {
  cursor: pointer;
  color: var(--white);
  background: var(--gradient);
  border-radius: 50%;
  font-size: 1.2em;
  font-weight: 900;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#modeToggle i {
  padding: 5px;
}

#modeToggle:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

#home {
  width: 100%;
  margin-bottom: 200px;
}

.content {
  width: 80%;
  min-height: calc(100vh - 125px);
  margin: 0 auto 110px;
}

.bg {
  margin-bottom: 100px;
  margin-top: 125px;
}

.triangle {
  width: 40%;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: -1;
}

.content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.description {
  color: var(--head-light);
  width: 50%;
}

.info {
  font-size: 1.06rem;
  text-transform: uppercase;
}

.social i {
  color: var(--purple);
  font-size: 27px !important;
  border-radius: 50%;
  padding: 7px;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.social i:hover {
  background: var(--icon-bg);
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  padding-top: 20px;
}

.code {
  width: 50%;
  position: relative;
}

.class {
  background: var(--grey);
  padding: 30px 25px 35px;
  border-radius: 10px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.class p {
  color: var(--light);
  font-weight: 400;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
}

.class b {
  font-weight: 700;
}

#about {
  margin-bottom: 290px;
}

.header {
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
  color: var(--light);
  margin: 100px auto;
  letter-spacing: 1px;
}

.about-bg {
  position: absolute;
  left: 0px;
  width: 100%;
  min-height: 381px;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  z-index: -1;
  pointer-events: none;
  background: var(--gradient-grey);
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 120px;
  margin-top: 185px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-content p {
  color: var(--white);
  font-size: 1.1rem;
}

#skills {
  position: relative;
}

.skills-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;
}

.skills-icons .fab {
  font-size: 86px;
  padding-top: 11px;
  color: var(--purple);
}

.skills-bg-text {
  z-index: -1;
}

.skills-bg-text-inner {
  -webkit-transform: translate3d(0%, -310px, 0px);
          transform: translate3d(0%, -310px, 0px);
}

.skills-bg-text-inner p {
  position: absolute;
  color: var(--skill-grey);
  left: 0;
  right: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.skills-bg-text-inner p:nth-child(1) {
  top: 50px;
  left: 100%;
  font-size: 25px;
}

.skills-bg-text-inner p:nth-child(2) {
  top: 0px;
  left: 0px;
  font-size: 23px;
}

.skills-bg-text-inner p:nth-child(3) {
  top: 200px;
  left: -60px;
  font-size: 14px;
}

.skills-bg-text-inner p:nth-child(4) {
  top: 30%;
  left: 35%;
  font-size: 18px;
}

.skills-bg-text-inner p:nth-child(5) {
  top: 120px;
  left: 22%;
  font-size: 18px;
}

.skills-bg-text-inner p:nth-child(6) {
  top: 40px;
  left: 75%;
  font-size: 15px;
}

.skills-bg-text-inner p:nth-child(7) {
  top: 380px;
  left: 85%;
  font-size: 18px;
}

.skills-bg-text-inner p:nth-child(8) {
  top: 320px;
  left: 65%;
  font-size: 18px;
}

.skills-bg-text-inner p:nth-child(9) {
  top: 350px;
  left: 150px;
  font-size: 20px;
}

#projects {
  position: relative;
}

.project-cover {
  margin: 80px 0;
}

.project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 170px 1fr;
      grid-template-columns: 1fr 170px 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-bg {
  background: var(--grey);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  min-height: 350px;
  padding: 50px;
  border-radius: 10px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  grid-row: 1 / auto;
}

.project-info {
  width: 75%;
  color: var(--head-light);
}

.project-info h2 {
  margin-bottom: 25px;
  font-weight: bold;
}

.project-info p {
  line-height: 1.7;
  min-height: 250px;
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 0;
}

.project-links .demo {
  color: var(--white);
  font-size: 0.8rem;
  background: var(--gradient);
  text-decoration: none;
  padding: 12px;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  margin-right: 10px;
}

.project-links .demo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: var(--gradient-light);
}

.project-links .github {
  color: var(--white);
  font-size: 20px;
  background: var(--gradient);
  padding: 10px 11px;
  text-align: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border-radius: 50%;
  line-height: 0;
}

.project-links .github:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: var(--gradient-light);
}

.img-container {
  position: relative;
  right: -20px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  grid-row: 1 / auto;
}

.img-container .img {
  position: relative;
  padding-top: 56.25%;
  background: var(--skill-grey);
  border-radius: 10px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.languages {
  color: var(--purple);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.languages i {
  font-size: 24px;
}

.languages i:not(.fa-node-js) {
  margin-right: 14px;
}

.languages i.fab {
  margin-top: 3.4px;
  font-size: 22px;
}

#contact {
  position: relative;
}

.contact-area {
  width: calc(100% - 30px);
  position: relative;
  height: 400px;
  margin-bottom: 50px;
  margin-top: 150px;
  background: var(--gradient);
  padding: 20px;
  border-radius: 10px;
}

.hand {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  margin-left: 9%;
  color: var(--white);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hand i {
  font-size: 5.4rem;
}

.hand h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.hand p {
  line-height: 1.5;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-form {
  position: absolute;
  width: 70%;
  top: -50px;
  right: -40px;
  min-height: 400px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'email name' 'textarea textarea' '. button';
  padding: 50px 30px;
  background: var(--grey);
  border-radius: 10px;
  gap: 10px;
}

.contact-form .email {
  grid-area: email / email / email / email;
}

.contact-form .name {
  grid-area: name / name / name / name;
}

.contact-form .message {
  grid-area: textarea / textarea / textarea / textarea;
}

.contact-form .form-btn {
  -ms-grid-column-align: end;
      justify-self: end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  grid-area: button / button / button / button;
  color: var(--white);
  height: auto;
  font-size: 14px;
  background: var(--gradient);
  border: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.contact-form .form-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.contact-form .form-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: var(--gradient-light);
}

.contact-form .invalid {
  border: 1px solid #ff2121;
}

.contact-form .error {
  background: linear-gradient(134deg, #ff4848 0%, #dc4949 99%);
}

.contact-form span {
  font-size: 0.9em;
  color: var(--head-light);
}

.contact-form input {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  background: var(--input);
  width: 100%;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  margin: 10px 0px;
}

.contact-form textarea {
  outline: none;
  font-family: 'Montserrat', sans-serif;
  background: var(--input);
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 100%;
  line-height: 1.5;
  width: 100%;
  height: 200px;
  resize: none;
  margin: 10px 0px;
}

footer {
  min-height: 11vh;
  background: var(--gradient-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer p {
  line-height: 1.6;
  font-size: 1.1rem;
  color: var(--white);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

footer a {
  color: var(--light-purple);
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .about-content {
    margin-top: 150px;
  }
  .info-bg {
    min-height: unset;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    grid-row: unset;
    padding: 30px;
  }
  .project-info {
    width: 100%;
  }
  .project-info p {
    min-height: unset;
  }
  .img-container {
    right: 0;
    margin-bottom: 20px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .img-container .languages {
    display: none;
  }
  .contact-area {
    width: 100%;
    margin-top: 50px;
    padding: 10px;
  }
  .contact-area .hand {
    display: none;
  }
  .contact-area .contact-form {
    position: static;
    width: 100%;
    padding: 30px 25px;
  }
}

@media screen and (max-width: 990px) {
  .no-script {
    height: 88.5vh;
  }
  .no-script noscript {
    padding: 40px;
    font-size: 1.1rem;
  }
  .skills-bg-text {
    display: none;
  }
  .skills-icons {
    width: 95%;
    margin-left: 15px;
  }
  .skills-icons .fab {
    font-size: 50px;
  }
  footer {
    min-height: 11.5vh;
  }
  footer p {
    font-size: 1.1rem;
  }
  .content {
    margin: 0 auto 190px;
  }
}

@media screen and (max-width: 850px) {
  .social .fab {
    font-size: 24px !important;
    border-radius: 50%;
    padding: 7px;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .social .fab:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background: var(--icon-bg);
  }
  .nav-links {
    width: 50%;
  }
  .description {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
    width: 100%;
  }
  .content-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .code {
    width: unset;
  }
  .class p {
    font-size: 0.9rem;
  }
  .about-content {
    margin-top: 140px;
    padding: 0 80px;
  }
}

@media screen and (max-width: 768px) {
  .no-script {
    width: 85%;
    margin: 0 auto;
    height: 90vh;
  }
  .no-script noscript {
    text-align: center;
    padding: 30px;
    font-size: 1rem;
    line-height: 1.5;
  }
  .content {
    width: 90%;
  }
  #navbar {
    min-width: 8vh;
  }
  .line-1,
  .line-2,
  .line-3 {
    width: 30px;
    height: 3px;
    background: var(--purple);
    margin: 5px;
    -webkit-transition: 400ms;
    transition: 400ms;
    border-radius: 10px;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 20;
  }
  .logo {
    top: 50%;
    left: 5%;
    position: absolute;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
  }
  .nav-links {
    position: fixed;
    background: var(--grey);
    height: 100vh;
    width: 100%;
    margin-top: 46.5vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
    padding: 100px 0;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    font-size: 25px;
    font-weight: 600;
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
    font-weight: 600;
  }
  .nav-links li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.8s;
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(5) {
    -webkit-transition: all 0.5s ease 1s;
    transition: all 0.5s ease 1s;
  }
  .nav-links li:nth-child(6) {
    -webkit-transition: all 0.5s ease 1.2s;
    transition: all 0.5s ease 1.2s;
  }
  .nav-links li.fade {
    opacity: 1;
  }
  .toggle .line-1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line-2 {
    opacity: 0;
  }
  .toggle .line-3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
  #about {
    position: relative;
    margin-bottom: 170px;
  }
  .about-bg {
    width: unset;
    height: 90%;
    top: 100px;
    left: -16px;
    right: -16px;
    bottom: 0px;
  }
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 130px;
    padding: 0;
  }
  .about-content p {
    font-size: 1.1rem;
  }
  footer {
    min-height: 10vh;
  }
  footer p {
    font-size: 1rem;
    line-height: 1.6;
  }
  #modeToggle {
    font-size: 2.2rem;
  }
  .contact-form {
        grid-template-areas: 'email email' 'name name' 'textarea textarea' '. button';
  }
}

@media screen and (max-width: 500px) {
  .no-script {
    height: 89vh;
    width: 80%;
  }
  .no-script noscript {
    padding: 25px;
  }
}
